<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyi.payahita">

    <application
        android:name=".PaYaHiTa"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PlaceListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nyi.payahita.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.PlaceDetailActivity"
            android:label="@string/title_activity_place_detail"
            android:parentActivityName=".activities.PlaceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nyi.payahita.activities.PlaceListActivity" />
        </activity>

        <provider
            android:name=".data.persistence.PlaceProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />
        <!-- Need to be true to sync auto -->
        <activity
            android:name=".activities.NewEditActivity"
            android:label="@string/title_activity_new_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SavedActivity"
            android:label="@string/title_activity_saved"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nyi.payahita.activities.MainActivity" />
        </activity>
    </application>

</manifest>